<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssemly>
        <assemlyIdentity name="CarLibrary1" publicKeyToken="B77A5C561934E089"/>
        <codeBase version="2.0.0.0" href="file:///C:/MyAsms/CarLibrary1.dll"/>
      </dependentAssemly>
    </assemblyBinding>
  </runtime>
</configuration>